.dashboard-element {
  width: 300px;
  height: 200px;
  background-color: #f1f1f1;
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
}
.date-css {
    text-align: center;
}

.health-check {
  background-color: #f44336;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #ff8a00, #e52e71);
  animation: loading 5s ease-in-out forwards;
  z-index: 9999;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
}

.loaded .content {
  opacity: 1;
  visibility: visible;
}

 /*! Pop-Up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover {
  color: red;
}


